<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">AgenticUI</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3 nav-heading">Scenarios</div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="agentic-chat">
                <span class="bi bi-chat-dots-fill-nav-menu" aria-hidden="true"></span> Agentic chat
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="backend-tools">
                <span class="bi bi-tools-nav-menu" aria-hidden="true"></span> Backend tools
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="frontend-tools">
                <span class="bi bi-tools-nav-menu" aria-hidden="true"></span> Frontend tools
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="human-in-the-loop">
                <span class="bi bi-person-check-nav-menu" aria-hidden="true"></span> Human in the loop
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="shared-state">
                <span class="bi bi-arrow-repeat-nav-menu" aria-hidden="true"></span> Shared state
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="predictive-state">
                <span class="bi bi-file-text-nav-menu" aria-hidden="true"></span> Predictive state
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="agentic-generative-ui">
                <span class="bi bi-list-check-nav-menu" aria-hidden="true"></span> Agentic generative UI
            </NavLink>
        </div>
    </nav>
</div>

